/************************************************
               Базовые элементы
================================================*/

/*
резиновый шрифт от размера ширины экрана
от этого размера шрифта все остальные размеры
отталкиваются
*************************************************/

* {
  line-height: 1.2em;
}

html {
  font-size: 2vw;
}

/* ===== == = === 30em (480px) === = == ===== */

@media only screen and (max-width : 30em) {
  html {
    font-size: 7vw;
  }
}

#content {
  margin: $margin-content;
}

// применим основной шрифт
ul li, p, blockquote {
  font-size: $main-text-size;
  line-height: 1.3em;
}

img {
  min-height: 100%;
}
