
/*                 хелперы
*************************************************/
.grayscale {
  filter: grayscale(100%);
}
.grayscale:hover {
  @extend .transition;
  filter: none;
}

.alpha {
  background-color: rgba(255,255,255,0.8);
}

.hgroup.alpha {
  position: absolute;
  left: 0; top: 0; right: 0;
}

.transition {
  transition: all 0.3s ease 0s;
}

.egg {
  height: 100%;
  font-size: calculate-rem(140px);
  font-weight: 900;
  text-align: center;
  // запретим выделение текста
  user-select: none;
  cursor: default;
  color: $color-primary-tint-90;
}