/*            заголовок у таблички
*************************************************/
.hgroup {
  min-height: calculate-rem(40px);
  padding-bottom: $margin-base;
}

.hgroup.line {
  border-bottom: $colomn-border solid $color-primary-tint-90;
  margin-bottom: 10px;
}

.collapse .hgroup {
  padding-top: $margin-base;
}

h3, h4 {
  margin: 0;
  line-height: 1.2em;
}

h3 {
  font-size: calculate-rem(14px);
}

h4 {
  font-size: calculate-rem(12px);
}

h4.big{
  margin-top: $margin-base;
  font-size: 160%;
  line-height: 50%;
}