.row.bg-color-90
  .column-4.square: .content.collapse: include content/avatar
  .column-12.square: .content
    .row
      .column-12: include content/details
      .column-4: button.print(name='print') Print this page

.row
  .column-4.square: .content: include content/portfolio
  .column-4.square: .content: include content/experience
  .column-4.square: .content.collapse.over: include content/algorithms
  .column-4.square: .content.collapse: include content/availability

.row
  .column-4.square: .content: include content/blockquote-1
  .column-4.square: .content: include content/blockquote-2
  .column-4.square: .content: .egg
  .column-4.square: .content: include content/blockquote-3