- php  = 'http://imjustcreative.com/wp-content/uploads/2011/12/il_fullxfull.jpeg'
- code = 'http://webware.biz/upldfromside/nb/refactor-afterchange.png'
- sass = 'http://blog.jetbrains.com/ruby/files/2009/08/sass.png'

.hgroup.alpha.text-center
  h3 Sample code<br>and algorithms
img(src=php alt='code')