.hgroup.text-center
  h3 Experience
ul
  li <strong>PHP,</strong> 6 years
  li <strong>Ruby,</strong> 7 years
  li <strong>Javascript,</strong> 4 years
  li <strong>ActionScript,</strong> 3 years