
.hgroup.text-center
  h3 Portfolio
  h4 PHP, Ruby, Javascript
ul
  li <strong>NavalPlan,</strong> PHP, Ruby
  li <strong>MyTime,</strong> Javascript
  li <strong>Formidable,</strong> PHP, Ruby
  li <strong>MyTime,</strong> Javascript
  li <strong>Monsoon,</strong> ActionScript