doctype
html(lang="ru")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Задание #1
    meta(name='author', content='tyllo, gmtyllo@gmail.com')
    meta(name='description', content='')
    meta(name='keywords', content='')
    link(rel='stylesheet' type='text/css' media='screen' href='css/style.css')
    //- <!--[if lt IE 9]>
        link(rel='stylesheet' type='text/css' media='screen' href='css/style-ie8.css')
        <![endif]-->
  body
    //- header: include templates/header
    section#content: include templates/content
    //- footer: include templates/footer
    script(src='js/vendors/jquery.js')
    script(src='js/script.js')

